<script setup lang="ts">
import { ref, watch } from 'vue'

const emit = defineEmits<{
  submit: [password: string]
}>()

const password = ref('')
const error = ref(false)

function trySubmit() {
  error.value = false

  if (password.value.length >= 4 && password.value.length <= 16) {
    return emit('submit', password.value)
  }

  error.value = true
}

watch(password, value => {
  const normalized = value?.normalize('NFD').replace(/\p{Diacritic}/gu, '').toLowerCase().replace(/[^a-z0-9]/g, '')

  if (value !== normalized) {
    password.value = normalized
  }
})
</script>

<template>
  <form @submit.prevent="trySubmit" class="flex flex-col justify-center items-center flex-grow">
    <p>Enter a session ID</p>
    <div class="flex">
      <input class="w-64 h-12 text-lg border-black border-2 rounded-l-md outline-none px-2" v-model="password" />
      <button class="w-12 h-12 bg-black text-white rounded-r-md font-semibold outline-none" type="submit">GO</button>
    </div>
    <span class="text-red-500" v-if="error">Must be between 4 and 16 characters.</span>
  </form>
</template>
