<script setup lang="ts">
import { Timestamp, doc, setDoc } from 'firebase/firestore'
import { computed, ref } from 'vue'
import { useDocument, useFirestore } from 'vuefire'
import { useKeypress } from 'vue3-keypress'
import ShapeSelector from './ShapeSelector.vue'
import ShapeKey from './ShapeKey.vue'
import { Keys } from '../keys'

const db = useFirestore()

const props = defineProps<{ password: string }>()
const emit = defineEmits<{
  logout: []
}>()
const docRef = computed(() => doc(db, 'session', props.password))
const session = useDocument(docRef)
const isFullSelection = computed(() => session.value?.shapes.filter((shape: string) => shape !== 'none')?.length >= 3)
const isActive = ref(true)

useKeypress({
  keyEvent: 'keyup',
  keyBinds: [
    {
      keyCode: Keys.R,
      preventDefault: true,
      success: reset
    },
    {
      keyCode: Keys.T,
      preventDefault: true,
      success: getShapeFunction('triangle')
    },
    {
      keyCode: Keys.S,
      preventDefault: true,
      success: getShapeFunction('square')
    },
    {
      keyCode: Keys.C,
      preventDefault: true,
      success: getShapeFunction('circle')
    }
  ],
  isActive
})

function getShapeFunction(shape: ShapeSelection) {
  return async () => {
    const existingShape = session.value?.shapes?.some((x: string) => x === shape)
    const firstEmptyIndex = session.value?.shapes?.indexOf('none')
    
    if (!existingShape) {
      await select(firstEmptyIndex, shape)
    }
  }
}

async function select(position: number, shape: ShapeSelection) {
  if (!session.value) {
    await setDoc(docRef.value, {
      shapes: ['none', 'none', 'none'],
      createdDate: Timestamp.now()
    })
  }
  const shapes = session.value?.shapes || []
  shapes[position] = shape
  await setDoc(docRef.value, {
    ...session.value,
    shapes,
    updatedDate: Timestamp.now()
  })
}

async function reset() {
  await setDoc(docRef.value, {
    ...session.value,
    shapes: ['none', 'none', 'none'],
    updatedDate: Timestamp.now()
  })
}

function logout() {
  emit('logout')
}
</script>

<template>
  <div class="flex flex-col justify-center items-center gap-y-4 flex-grow">
    <div class="flex items-center gap-x-4">
      <p>Logged in to session "{{ password }}"</p>
      <button class="w-20 h-12 bg-black text-white rounded-md font-semibold outline-none" @click="reset"><span class="underline">R</span>ESET</button>
      <button class="w-20 h-12 bg-black text-white rounded-md font-semibold outline-none" @click="logout">CLOSE</button>
    </div>
    <div class="flex aspect-square">
      <ShapeSelector :index="0" :selected="session?.shapes" :is-full-selection="isFullSelection" @select="select" />
      <ShapeSelector :index="1" :selected="session?.shapes" :is-full-selection="isFullSelection" @select="select" />
      <ShapeSelector :index="2" :selected="session?.shapes" :is-full-selection="isFullSelection" @select="select" />
    </div>
    <h3 class="text-xl">Keys</h3>
    <div class="flex h-32">
      <ShapeKey :shape="session?.shapes?.[0]" />
      <ShapeKey :shape="session?.shapes?.[1]" />
      <ShapeKey :shape="session?.shapes?.[2]" />
    </div>
  </div>
</template>
