<script setup lang="ts">
defineProps<{
  shape: ShapeSelection
}>()
</script>

<template>
  <div class="w-24">
    <img v-if="shape === 'circle'" src="../assets/prism.svg" />
    <img v-else-if="shape === 'triangle'" src="../assets/cylinder.svg" />
    <img v-else-if="shape === 'square'" src="../assets/cone.svg" />
    <img v-else src="../assets/unknown.svg" />
  </div>
</template>
