<script setup lang="ts">
const props = defineProps<{
  index: number,
  selected?: ShapeSelection[],
  isFullSelection: boolean
}>()
const emit = defineEmits<{
  select: [index: number, shape: ShapeSelection]
}>()

function isSelected(shape: ShapeSelection) {
  return props.selected?.[props.index] === shape
}

function isOtherSelected(shape: ShapeSelection) {
  const newArray = props.selected?.slice()
  newArray?.splice(props.index, 1)
  return newArray?.some((shape1: ShapeSelection) => shape1 === shape)
}

function selectShape(shape: ShapeSelection) {
  emit('select', props.index, shape)
}
</script>

<template>
  <div class="flex flex-col justify-center w-24">
    <button class="outline-none" :class="{ 'opacity-25': !isSelected('circle'), '!opacity-5 pointer-events-none': isOtherSelected('circle') }" v-if="!isFullSelection || isSelected('circle')" @click="selectShape('circle')">
      <img class="scale-95" src="../assets/circle.svg" />
    </button>
    <button class="outline-none" :class="{ 'opacity-25': !isSelected('triangle'), '!opacity-5 pointer-events-none': isOtherSelected('triangle') }" v-if="!isFullSelection || isSelected('triangle')" @click="selectShape('triangle')">
      <img class="translate-y-0.5" src="../assets/triangle.svg" />
    </button>
    <button class="outline-none" :class="{ 'opacity-25': !isSelected('square'), '!opacity-5 pointer-events-none': isOtherSelected('square') }" v-if="!isFullSelection || isSelected('square')" @click="selectShape('square')">
      <img class="-translate-y-1" src="../assets/square.svg" />
    </button>
    <span v-if="isFullSelection" class="text-center text-2xl font-bold">{{ selected?.[index]?.charAt(0) }}</span>
  </div>
</template>