<script setup lang="ts">
import { ref } from 'vue'
import Session from './components/Session.vue'
import Login from './components/Login.vue'

const password = ref<string>('')

function submit(newPassword: string) {
  password.value = newPassword
}

function logout() {
  password.value = ''
}
</script>

<template>
  <header class="text-center h-24">
    <h1 class="text-4xl font-semibold">Verity Shapes</h1>
    <h2 class="text-xl">[see|share|input] beyond...</h2>
  </header>
  <Login @submit="submit" v-if="!password" />
  <Session :password="password" @logout="logout" v-if="password" />
  <footer class="text-center">
    <p>Very hastly made by <a class="font-semibold hover:underline" target="_blank" href="https://wastedondestiny.com">BinarMorker#4824</a>.</p>
    <p>Destiny 2 &copy; <span class="font-semibold">Bungie 2024</span>.</p>
  </footer>
</template>
